*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

a{

    margin: 8px;

    display: flex;

    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: white;

    background-color: rgb(69, 123, 223);

    height: 50px;
    width: 400px;

    border-radius: 50px;
}